

.main-content {
    background-color: lightblue;
    padding: 1em;
}

.h1 {
    text-align: center;
}

#snake-table {
    background-color: darkgreen;
    padding: 1em;
}

.snake-cell {
    padding: 0.5em;
    margin: 1em;
    background-color: limegreen;
    color: transparent
}

.snake-cell-snake {
    background-color: black;
}

.snake-cell-apple {
    background-color: crimson;
}

#button-apple span{
    font-size: xx-large;
}